html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
  
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif; 
  }

  body {
    font-family: "Raleway";
    margin: 0;
  }
  
  header {
    background: white;
    color: white;
    text-align:center;
    position:fixed;
    width:100%;
    z-index:999;
    padding:1em; 
    border-bottom: solid 1px #EA4933;
  }
  
  nav {  
    position: absolute;
    top:100%;
    left:0;
    text-align:left;
    background: black;
    color: white;
    width:100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin: top; 
    padding: 30px; 
  }
  
  nav ul {
    list-style-type: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out; 
  }
  
  
  nav li {
    margin-bottom:1em;
    margin-left:1em;
  }
  
  
  nav a {
    color: white;
    text-decoration:none;
    font-size:1em;
    text-transform: uppercase;
  }
  
  
  nav a:hover {
      color: #67DADB;
  }
  
  
  .nav-toggle {
      display:none;
  }
  
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1); 
  }
  
  
  .nav-toggle:checked ~ nav ul {
    opacity:1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  .nav-toggle-label{   
    position: absolute;
    top:0;
    left:0;
    margin-left:1em;
    height:100%;
    display:flex;
    align-items:center;   
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{ 
    display:block;
    background: black;
    width:2em;
    height:2px;
    border-radius:2px;
    position:relative;
  }
  
  
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
         content:'';
         position:absolute;
  }
  
  .nav-toggle-label span::before{
         bottom:7px;
  }
  
  .nav-toggle-label span::after{
         top:7px;
  }
  
  
    .nav-img {
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      padding: 20px;
    }    

    h1 {
      text-align: center;
    }

    .about {
      background-color: black;
      color: white;
      border: solid 2px #67DADB;
      padding-top: 300px;
      margin: 20px;
    }

    .intro {
      line-height: 2;
      margin: 80px;
    }

    .about-photo {
      width: 450px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 40px;
    }




  footer {
      background-color:black;
      color: #f2f2f2;
      border: 1px solid #EA4933;
      
  }
  
  footer img {
      width: 40px;
  }
  
  .socials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
  }
  
  footer p {
      text-align: left;
      padding: 15px;
      font-size: 1em;
  }
  

   @media (min-width: 1000px) {
        
      .photo-grid-about {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr); 
        padding: none;
      }

      .photo-grid-about .about-photo:nth-child(3) {
        grid-column: span 2;
        grid-row: span 2;
      }
   }








  
    